  {% extends 'include/base-admin.html.twig' %}
{%  block title %}
    Releve
{% endblock %}
{% block body %}
    <div class="modal-header text-center">
        <h5 class="modal-title white-text w-100 font-weight-bold py-2">Releve</h5>

    </div>
     <form method="post" id="year-form">
        <label for="year">Sélectionnez une année :</label>
        <select id="year" name="year">
            {% for year in years %}
                <option value="{{ year.year }}" {% if year.year == selectedYear %}selected{% endif %}>{{ year.year }}</option>
            {% endfor %}
        </select>
        <label for="month">Mois :</label>
        <select name="month" id="month">
            <option value="">Tous les mois</option>
            {% for month in months %}
                <option value="{{ loop.index }}" {% if loop.index == selectedMonth %}selected{% endif %}>{{ month }}</option>
            {% endfor %}
        </select>

        
    <label for="quartier">Quartier :</label>
    <select name="quartier" id="quartier">
        <option value="">Tous les quartiers</option>
        {% for quartier in quartiers %}
            <option value="{{ quartier.id }}" {% if quartier.id == selectedQuartier %}selected{% endif %}>{{ quartier.nom }}</option>
        {% endfor %}
    </select>
    </form>
	 <form action="{{ path('export_admin_releves_to_excel') }}" method="post" class="mt-6">
				<input type="hidden" name="year" value="{{ selectedYear }}">
				<input type="hidden" name="month" value="{{ selectedMonth }}">
				<input type="hidden" name="quartier" value="{{ selectedQuartier }}">
				<button type="submit" class="btn btn-success">Exporter Releve</button>
			</form>
    <div class="grid-edit-btn " >
        
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
             + Nouveau Relevé
         </button>
		
    </div>
    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="width:836px;">
       <div class="modal-header text-center">
      
            <h4 class="modal-title white-text w-100 font-weight-bold py-2">
                Nouveau Relevé - Asmeau
            </h4>
      
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
        </button>
    </div>
    <!--Content-->
  
                    {{ form_start(form, {'attr': {'id': 'releveForm', 'action': path('register_releve') }}) }}


        <div class="modal-body" style="width:100%; padding: 2rem">
        
                <label class="active" for="form1">Client</label>
                {{ form_widget(form.client, {'attr': { 'class': 'form-control chosen-select' }}) }}

            <label class="active" for="form1">Nom</label>
            <input type="text" name="nom" id="nom" class="form-control">
            <hr>
            <nav class="nav nav-tabs">
                <a class="nav-item nav-link active" href="#p1" data-toggle="tab">Indexes</a>
                <a class="nav-item nav-link" href="#p2" data-toggle="tab">Tranches</a>
            </nav>
            <div class="tab-content">
                <div class="tab-pane active" id="p1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Relevé Précédent</th>
                                <th>Nouveau Relevé</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Date</td>
                                <td><input type="text" name="ancienReleve" id="ancienReleve" class="form-control" readonly></td>
                                <td><input type="date" name="dateReleve" id="dateReleve" class="form-control" ></td>
                            </tr>
                            <tr>
                                <td>Mois Releve</td>
                                <td><input type="text" name="mois" id="mois" class="form-control" disabled></td>
                                <td><input type="month" name="months" id="months" class="form-control"></td>
                            </tr>
                            <tr>
                                <td>Ancien Index</td>
                                <td><input type="text" name="ancienIndex" id="ancienIndex" class="form-control" disabled></td>
                                <td><input type="text" name="anciensIndex" id="anciensIndex" class="form-control" readonly></td>
                            </tr>
                            <tr>
                                <td>Nouvel Index</td>
                                <td><input type="text" name="nouvelIndex" id="nouvelIndex" class="form-control" disabled></td>
                                <td><input type="number" name="nouvelleIndex" id="nouvelleIndex" class="form-control" min="0" placeholder="0" ></td>
                            </tr>
                            <tr>
                                <td>Consommation</td>
                                <td><input type="text" name="consommation" id="consommation" class="form-control" disabled></td>
                                <td><input type="text" name="consommations" id="consommations" class="form-control" readonly></td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="tab-pane" id="p2">
                <div class="md-form mt-3">
                    <label class="active" for="form1">Limite 1er Tranche </label>
                    <input type="number" name="limite" id="limite" min="0" value="15"> (Mettez zéro pour désactiver)
                </div>
                <div class="md-form mt-3">
                    <label class="active" for="form1">PU 1er Tranche</label>
                    <input type="number" name="pu" id="pu" min="0" value="1700" style="width:130px">
                    <label class="active" for="form1">Qté 1er Tranche </label>
                    <input type="number" name="quantite1" id="quantite1" min="0" placeholder="0" style="width:130px" disabled>
                    <label class="active" for="form1">Montant 1è Tranche </label>
                    <input type="number" name="montant1" id="montant1" min="0" placeholder="0" style="width:130px" disabled>
                </div>
                <div class="md-form mt-3">
                    <label class="active" for="form1">PU 2e Tranche</label>
                    <input type="number" name="pus" id="pus" min="0" value="2300" style="width:130px;margin-left:5px;">
                    <label class="active" for="form1">Qté 2e Tranche </label>
                    <input type="number" name="quantite2" id="quantite2" min="0" placeholder="0" style="width:130px;margin-left:6px" disabled>
                    <label class="active" for="form1">Montant 2è Tranche </label>
                    <input type="number" name="montant2" id="montant2" min="0" placeholder="0" style="width:130px" disabled>
                </div>
                
                </div>
            </div>
            
            
        

        </div>
        <div class="modal-footer justify-content-center">
            <button type="submit" class="btn btn-outline-primary waves-effect "><i class="fas fa-save ml-1"></i> {% trans %}Save{% endtrans %} </button>
            <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal" aria-label="Close"><i class="fas fa-remove ml-1"></i> {% trans %}Cancel{% endtrans %} </button>
        </div>
    {{ form_end(form) }}
    </div>
  </div>
</div>
     <form action="{{ path('generer_pdf') }}" method="post" target="_blank">
    <button type="submit" id="printButton" class="btn btn-success" style="display:none;" >Facture</button>


    <div class="row-table table-content mt-3">
        <table class="table table-striped" id="example1">
            <thead>
            <tr>
                <th><input type="checkbox" class="select-all-checkbox"></th>
                <th>Date Relevé</th>
                <th>Code Client</th>
                <th>Nom</th>
                <th>Quartier</th>
                <th>Ancien Index</th>
                <th>Nouvel Index</th>
                <th>Mois</th>
                <th>Consom.</th>
                <th>Montant</th>
                <th>Action</th

            </tr>
            </thead>
            <tbody>
               
               {% set montantTotal = 0 %}
             {% for releve in releve %}     
                <tr>
                    <td><input type="checkbox" class="checkbox" name="ids[]" value="{{ releve.id }}"></td>
                    <td>{{ releve.dateReleve|date('d-m-Y') }}</td>
                    <td>{{ releve.client.code }}</td>
                    <td>{{ releve.client.nom }} {{ releve.client.prenom }}</td>
                    <td>{{ releve.client.quartier.nom }}</td>
                    <td>{{ releve.ancienIndex }}</td>      
                    <td>{{ releve.nouvelIndex }}</td>   
                     <td>
                        {% set variable1 = releve.mois %}
                        {% set variable2 = "/" %}
                                            {% set variable3 = releve.annee %}
                                            {% set resultat = variable1 ~ variable2 ~ variable3 %}
                                            {{ resultat }}
                                        </td>
                        <td>{{ releve.Consomation }}</td>  
                             <td>
                         {% if releve.limite != null %}
                                {% if releve.Consomation <= releve.limite %}
								  
								  {% set nombre1 = releve.Consomation%}
								  
								{% set nombre2 = releve.pu%}
								 
		
                                      
											{% set numerator = nombre1 * nombre2 %}
										
										
                                        {% set denominator = 5 %} 
                                        {% set percentage1 = (numerator * denominator) / 100 %}
                                        {% set percentage2 = (numerator * 1) / 100 %}
                                        {% set percentage3 = (numerator * 2) / 100 %}
                                        {% if nombre1 > 10 and releve.pus != null  %}
                                        {% set consomation2 = (releve.Consomation - 10) * releve.pus  %}
                                        {% set percentage4 = (consomation2 * 20) / 100 %}
                                        {% set resultatfinale = numerator + 1000 + percentage1 + percentage2 + percentage3 + percentage3 + percentage4 %}
                                        {% else %}
                                        {% set resultatfinale = numerator + 1000 + percentage1 + percentage2 + percentage3 + percentage3 %}

                                        {% endif %}
                                        {{ resultatfinale }}
                                    {% else %}
                                    {% set numerator = ((releve.Consomation - releve.limite) * releve.pus) + (releve.limite * releve.pu)  %}
                                        {% set denominator = 5 %} 
                                    {% set percentage1 = (numerator * denominator) / 100 %}
                                    {% set percentage2 = (numerator * 1) / 100 %}
                                    {% set percentage3 = (numerator * 2) / 100 %}
                                    {% if releve.Consomation > 10 and releve.pus != null  %}
                                    {% set consomation2 = (releve.Consomation - 10) * releve.pus  %}
                                    {% set percentage4 = (consomation2 * 20) / 100 %}

                                    {% set resultatfinale = numerator + 1000 + percentage1 + percentage2 + percentage3 + percentage3 + percentage4 %}
                                    {% else %}
                                    {% set resultatfinale = numerator + 1000 + percentage1 + percentage2 + percentage3 + percentage3 %}

                                    {% endif %}
                                    {{ resultatfinale }}
                                    {% endif %}
                                    {% else %}
                                      {% set nombre1 = releve.Consomation %}
                                        {% set nombre2 = releve.pu %}
                                        {% set numerator = nombre1 * nombre2 %}
                                        {% set denominator = 5 %} 
                                        {% set percentage1 = (numerator * denominator) / 100 %}
                                        {% set percentage2 = (numerator * 1) / 100 %}
                                        {% set percentage3 = (numerator * 2) / 100 %}
                                        {% if nombre1 > 10 and releve.pus != null  %}
                                        {% set consomation2 = (releve.Consomation - 10) * releve.pus  %}
                                        {% set percentage4 = (consomation2 * 20) / 100 %}

                                        {% set resultatfinale = numerator + 1000 + percentage1 + percentage2 + percentage3 + percentage3 + percentage4 %}
                                        {% else %}
                                        {% set resultatfinale = numerator + 1000 + percentage1 + percentage2 + percentage3 + percentage3 %}

                                        {% endif %}
                                        {{ resultatfinale }}
                                    
                        {% endif %}
                        {% set montantTotal = montantTotal + resultatfinale %}
                       </td>
                    <td style="display:flex">
                        <span class="badge badge-primary badge-style edit" data-id="{{ releve.id }}">Modifier</span>
                        <span class="btn btn-danger data-remove" data-id="{{ releve.id }}">Supprimer</span>
                   
                    </td>                
                </tr>
                  
             {% endfor %}
        


            </tbody>
             <tfoot>
                <tr>
                    <td colspan="8"></td>
                    <td>Montant débit  :</td>
                    <td>{{ montantTotal }}</td>
                </tr>
            </tfoot>
        </table>
	
    </div>
    </form>

{% endblock %}

{% block javascripts %}

    <script>
	
	$('.data-remove').on('click', function (e) {
        e.preventDefault();
        var $delete = confirm('Êtes-vous sûr de vouloir supprimer cet événement ?');
        if ($delete) {
            $(".loadBody").css("display", "block");
            var id = $(this).data('id');
            $.ajax({
                url: "{{ path('delere_releve') }}", // Assurez-vous que l'URL est correcte
                type: 'post',
                data: { id: id },
                dataType: "json",
                success: function (data) {
                    $(".loadBody").css("display", "none");
                    location.reload();
                },
                error: function (e) {
                    $(".loadBody").css("display", "none");
                    $(".chargementError").css("display", "block");
                }
            }).always(function () {
                $(".loadBody").css("display", "none");
            });
        } else {
            return false;
        }
    });

    // Edition d'un élément via AJAX
    $(".edit").on('click', function (e) {
        $(".loadBody").css("display", "block");
        e.preventDefault();
        let id = $(this).data('id');
        $.ajax({
            url: "{{ path('add_form_releve') }}", // Assurez-vous que l'URL est correcte
            type: 'post',
            data: { id: id },
            dataType: 'json',
            success: function (data) {
                $('.create_body').html(data.form_html);
                $("#modal_create_body").modal('show');
            },
            error: function (e) {
                $(".loadBody").css("display", "none");
                $(".chargementError").css("display", "block");
            }
        }).always(function () {
            $(".loadBody").css("display", "none");
        });
    });
     $(document).ready(function () {

    // Initialisation de DataTable
    $('#example1').DataTable({
        "pageLength": 200
    });

    // Gestion de l'ouverture de la modal avec Alt+Y
    $(document).keydown(function (event) {
        if (event.altKey && event.key === "y") {
            event.preventDefault();
            $("#exampleModalLong").modal("show");
        }
    });

    // Gestion du changement de la checkbox "Select All"
    $('.select-all-checkbox').change(function () {
        var isChecked = $(this).prop('checked');
        $('.checkbox').prop('checked', isChecked);
        togglePrintButtonVisibility();
    });

    // Gestion du changement d'une checkbox individuelle
    $('.checkbox').change(function () {
        togglePrintButtonVisibility();
    });

    // Fonction pour afficher/masquer le bouton d'impression
    function togglePrintButtonVisibility() {
        var anyChecked = $('.checkbox:checked').length > 0;
        $('#printButton').toggle(anyChecked);
    }

    // Suppression d'un élément via AJAX
    

    // Soumission automatique du formulaire lors du changement du quartier
    $('#quartier').on('change', function () {
        document.getElementById('year-form').submit();
    });

    // Initialisation des valeurs de date et mois
    var date = new Date();
    var dateString = date.toISOString().split('T')[0];
    $('#dateReleve').val(dateString);
    $('#months').val(date.toISOString().slice(0, 7));

    
    $('#releve_client').on('change', function () {
        var selectedValue = $(this).val();
        $.ajax({
            url: '{{ path("releve_check") }}',
            method: 'POST',
            data: { id: selectedValue },
            success: function (response) {
                $('#nom').val(response.nom);
                $('#ancienReleve').val(response.date);
                $('#mois').val(response.mois);
                $('#ancienIndex').val(response.ancienIndex);
                $('#nouvelIndex, #anciensIndex').val(response.nouvelIndex);
                $('#consommation').val(response.consommation);
            },
            error: function (error) {
                // Gérer les erreurs ici
            }
        });
    });

    // Calcul de la consommation et des montants
    $('#nouvelleIndex').on('change', function () {
        var nouvelleIndexInput = parseFloat($('#nouvelleIndex').val()) || 0;
        var ancienIndexInput = parseFloat($('#anciensIndex').val()) || 0;
        var reponse = nouvelleIndexInput - ancienIndexInput;
        var consommationsInput = $('#consommations');
        consommationsInput.val(reponse);

        var limite = parseFloat($('#limite').val());
        var quantite1Input = $('#quantite1');
        var quantite2Input = $('#quantite2');
        var montant1Input = $('#montant1');
        var montant2Input = $('#montant2');
        var puInput = parseFloat($('#pu').val());
        var pusInput = parseFloat($('#pus').val());

        if (reponse > limite) {
            var quantite2 = reponse - limite;
            quantite1Input.val(limite);
            quantite2Input.val(quantite2);
            montant1Input.val(limite * puInput);
            montant2Input.val(quantite2 * pusInput);
        } else {
            quantite1Input.val(reponse);
            montant1Input.val(reponse * puInput);
        }
    });

    // Initialisation des selecteurs chosen
    $('.chosen-select').chosen({ width: "100%" });

    // Soumission du formulaire via AJAX
    $('#releveForm').on('submit', function (event) {
        event.preventDefault();
        var formData = $(this).serialize();
        $.ajax({
            url: $(this).attr('action'),
            type: 'POST',
            data: formData,
            success: function (response) {
                $('#exampleModalLong').modal('hide');
                $('#nouvelleIndex').val('');
                $('#exampleModalLong input[type="text"]').val('');
                $('#exampleModalLong select').val('').trigger('chosen:updated');
            },
            error: function (xhr, status, error) {
                alert('Une erreur s\'est produite lors de la soumission du formulaire.');
            }
        });
    });

});

    </script>
{% endblock %}