<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport">

		
		<title>
			ASM
		</title>

		{% block stylesheets %}

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
			<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}"/>
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}"/>
			<link rel="stylesheet" href="{{ asset('assets/css/component.css') }}"/>
			<link href="{{ asset('assets/css/datapicker/datepicker3.css') }}" rel="stylesheet">
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		<script src="{{ asset('assets/js/jquery-3.1.1.min.js') }}"></script>
		<script src="{{ asset('assets/js/popper.min.js') }}"></script>
		<script src="{{ asset('assets/js/Chart.min.js') }}"></script>
		<script src="{{ asset('assets/js/bootstrap.min.js') }}" async></script>
		<script src="{{ asset('assets/js/jquery.validate.min.js') }}" type="text/javascript" charset="utf-8"></script>
		<script src="{{ asset('assets/js/datapicker/bootstrap-datepicker.js') }}"></script>
		<script src="{{ asset('assets/js/app.js') }}" type="text/javascript"></script>
		
		{% block javascripts %}{% endblock %}
	</body>
</html>